@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

.main {
  height: 100vh;
  width: 100%;
  /* width: 1920px; */
}

.link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 80px;
  color: #ffffff;
}

.btn {
  width: 149px;
  height: 55.66px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border: none;

  border-radius: 10px;
}

.btn:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-green {
  background-color: #07af91;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 352px;
  background-color: grey;
}

.header .links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.header .links .close button {
  display: none;
  width: 40px;
  height: 40px;

  border: none;
  background: #ffffff;
  border-radius: 5px;
}

.header .links .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .links .content li {
  margin-right: 52px;
}

.header .btn-gr {
}

.header .btn-gr .burger {
  display: none;
  width: 40px;
  height: 40px;

  background: #ffffff;
  border-radius: 5px;
  border: none;
  z-index: 20;
}
